<template name="about">

  <div vertical layout center>
    <div class="public-content">

      <h2>Our story.</h2>

      <h3>Conceptualized by Ash Maurya</h3>
      <p>
        Ash Maurya, author of <a href="http://runninglean.co/">Running Lean</a>,
        originally conceptualized USERcycle and iterated the product for the
        first few years of our life. Ash's original product remains available
        as <a href="http://classic.usercycle.com">USERcycle Classic</a>.
      </p>

      <h3>Reinvisioning</h3>
      <p>
        In July 2014, <a href="http://differential.com">Differential</a>,
        <a href="https://angel.co/ry">Ry Walker</a>, and
        <a href="https://angel.co/tim-brunk">Tim Brunk</a> took over day-to-day leadership
        of USERcycle, including reinvisioning the product into a more simple and
        prescriptive form. <a href="https://angel.co/ben-gregory">Ben Gregory</a> and
        <a href="https://angel.co/schnie">Greg Nieheisel</a> have also joined the team.
      </p>
    </div>
  </div>

</template>
