<template name="home">

  <div class="public-billboard" relative>
    <div class="public-billboard-container" fit layout vertical center-justified center>
      <h1>Basic Meteor + Polymer demo</h1>
      <p>Start building your app using these two powerful tools</p>
      <a href="https://github.com/Differential/polymer-demo" target="_blank"><paper-button class="btn btn-accent" raised>Check the documentation</paper-button></a>
    </div>
  </div>

  <div class="public-cta" layout vertical center>
    <p>User persistence</p>
    <p>
      <paper-button class="btn" data-action="sign-in" raised>Sign In</paper-button> or 
      <paper-button class="btn" data-action="sign-up" raised>Sign Up</paper-button>
    </p>
  </div>

  {{#contentFor region="footer"}}
    {{> publicFooter}}
  {{/contentFor}}

</template>
