<template name="home">

  <div class="public-billboard" relative>
    <div class="public-billboard-container" fit layout vertical center-justified center>
      <h1>Analytics That Grow Your Business</h1>
      <p>You can follow whatever key metric you want. <br>As long as you want retention. </p>
      <paper-button class="btn btn-accent btn-lg" raised>Get Started</paper-button>
    </div>
  </div>

  <div class="public-feature" layout vertical center>
    <div class="public-feature-title">How It Works</div>
    <h2>Guidance on what to track</h2>
    <p>No more worrying about which events to track or what actions to measure. Based on your industry and revenue model,
we’ll tell you the 4-5 specific events we need in order to measure and analyze your growth.</p>
    <div class="public-feature-image">
      <img src="/img/feature-data.png">
    </div>
  </div>

  <div class="public-feature" layout vertical center>
    <h2>Automatic, informative visualizations</h2>
    <p>You won’t need to think about how to graph or analyze your data. We automatically generate the most informative visualizations. Giving you the information you need to quickly make critical growth decisions.</p>
    <div class="public-feature-image">
      <img src="/img/feature-charts.png">
    </div>
  </div>

  <div class="public-feature" layout vertical center>
    <h2>Notifications of anomalies</h2>
    <p>Don’t have the time or resources to watch your data in realtime? No worries, we do it for you. We’ll alert you when we notice anomalies in your data, allowing you to react quickly.</p>
    <div class="public-feature-image">
      <img src="/img/feature-notifications.png">
    </div>
  </div>

  <div class="public-cta" layout vertical center>
    <p>Make decisions with real data</p>
    <paper-button class="btn btn-accent btn-lg" raised>Get Started Free</paper-button>
  </div>

  {{#contentFor region="footer"}}
    {{> publicFooter}}
  {{/contentFor}}

</template>
