<template name="pricing">

  <div vertical layout center>
    <div class="public-content">
      <h2>Pricing</h2>
      <p>
        Every app needs basic growth analytics, we provide that baseline for free,
        similar to how Google Analytics provides basic web analytics.
      </p>

      <p>
        For our sustainability, we plan to provide premium features and/or services.
      </p>

      <p>
        For now, we're focused on building a core product that
        you'll find useful enough to use for all your apps.
      </p>
    </div>
  </div>

</template>
