<template name="onboarding">
  {{#contentFor region="contentToolbar"}}
    <h3>Thanks for signing up</h3>
  {{/contentFor}}

  <div horizontal layout center-justified>
    <paper-shadow z="1" class="card card-progress">
      <ul>
        <li><a href="http://vimeo.com/11932184#t=705s">Watch the video</a> that inspired our product (Phil Libin from Evernote).</li>
        <li>
          Watch this quick demo:<br />
          <div class="video-container">
            <iframe src="//www.youtube.com/embed/89uDdKv0-kQ?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
          </div>
        </li>
        <li>
          Read our <a href="blog.usercycle.com/lean-analytics-big-impact-an-interview-with-ben-yoskovitz/"> interview with Ben Yoskovitz </a>, on why it's critical to focus on the metrics that matter.
        </li>
        <li>
          Read and execute our <a href="http://docs.usercycle.com/article/2196-How-Can-I-Get-Set-Up">setup guide</a>.
        </li>
        <li>
          <a href="mailto:hey@usercycle.com">Drop us an email</a> if you have any questions.
        </li>
      </ul>

    </paper-shadow>
  </div>
</template>
